.footer {
	position: absolute;
	left: 0;
	top: 140em;
	background-color: #0073cf;
	width: 100%;
	height: 200px;
}

.footer #footer-image {
	position: absolute;
	top: 2em;
	left: 5em;
	width: 12em;
}

.footer #footer-groep {
	position: absolute;
	top: 7em;
	left: 5em;
	color: #fff;
}

.footer #footer-copy {
	position: absolute;
	top: 7em;
	left: 90em;
	color: #fff;
}

.footer #footer-links {
	position: absolute;
	top: 1em;
	left: 62em;
	display: inline-flex;
	list-style-type: none;
	color: #fff;
}

.footer li {
	padding-right: 3em;
}