$road: #f00;

@import 'font';
@import 'footer';
@import 'header';



.container #image-btn {
	position: absolute;
	top: 26em;
	left: 35em;
	padding: 1em;
	border: 2px solid #fff;
	border-radius: 8px;
	background-color: #0073cf;
	color: #fff;
	font-size: 1em;
	cursor: pointer;
}

.container #image-btn:hover {
	cursor: pointer;
}

.wat-doen-wij-text {
	position: absolute;
	top: 35em;
	left: 22em;
	width: 950px;
	text-align: center;
	color: #0073cf
}


.container #boven-image {
	position: absolute;
	top: 5em;
	right: 0;
}

.container #boven-image-brain {
	position: absolute;
	top: 10em;
	right: 13em;
	width: 250px;
}

#INTRO {
    color: black;
}

.container #image-text {
	position: absolute;
	top: 8em;
	color: #fff;
	font-size: 1.5em;
}

.wat-doen-wij-text #wat-doen-wij-T.text {
	color: black;
}

.gr-text .section-1 {
	width: 250px;
	position: absolute;
	top: 60em;
}

.gr-text .section-2 {
	width: 250px;
	position: absolute;
	top: 60em;
	left: 35em;
}

.gr-text .section-3 {
	width: 250px;
	position: absolute;
	top: 60em;
	left: 55em;
}

.gr-text .section-4 {
	width: 250px;
	position: absolute;
	top: 60em;
	left: 75em;
}

.wat-doen-wij-text #ontdek-btn {
	position: absolute;
	top: 13em;
	left: 19.5em;
	padding: 1em;
	border: 2px solid #fff;
	border-radius: 8px;
	background-color: #0073cf;
	color: #fff;
	font-size: 1em;
	cursor: pointer;
}

.wat-doen-wij-text #register-text {
	position: absolute;
	top: 18em;
	left: 23em;
	font-size: 0.9em;
	color: #0073cf;
}

.wat-doen-wij-text #wat-doen-wij-ipad-img {
	position: absolute;
	top: 12em;
	left: 40em;
}



.tekst {
	color: #0073cf;
}

.ipad-win {
	position: absolute;
	top: 93em;
	left: 0;
	color: #fff;
	background-color: #85BADF;
	width: 100%;
}

#ipad-img1 {
	position: absolute;
	top: 3.4em;
	left: 60em;
}

#ipad-img2 {
	position: absolute;
	top: 4em;
	left: 37em;
}

#ipad-h1 {
	margin-top: 3em;
	margin-left: 5.4em;
}

#ipad-p {
	margin-left: 10em;
	font-size: 1.1em;
	margin-bottom: 3em;
}

#ipad-btn {
	margin-left: 11em;
	margin-bottom: 3em;
	padding: 1em;
	border: 2px solid #fff;
	border-radius: 8px;
	background-color: #0073cf;
	color: #fff;
	font-size: 1em;
	cursor: pointer;
}

.contact {
	position: absolute;
	top: 124em;
	left: 25em;
	margin-bottom: 3em;
	text-align: center;
}

#contact-img {
	position: absolute;
	top: 3em;
	left: 60em;
}

#contact-h1 {
	color: #0073cf;
}

#contact-btn {
	margin-bottom: 3em;
	position: absolute;
	left: 23.7em;
	padding: 1em;
	border: 2px solid #fff;
	border-radius: 8px;
	background-color: #0073cf;
	color: #fff;
	font-size: 1em;
	cursor: pointer;
}






* {
	box-sizing: border-box;
}

body {
	font-family: Quicksand;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}



